/**
===========================
Workshop Layout
===========================
*/
div.bench {
  display: block;
  min-height: 100%;
}

div.bench > p {
  font-size: smaller;
}

div.bench,
div.functions {
  padding: 1vw;
  margin: 4vw 0vw;
}

/**
===========================
List Items
===========================
*/
div.pobject,
div.felement {
  display: inline-block;
  padding: 0.5em;
}

/**
===========================
pobject
===========================
*/
div.pobject label:first-of-type {
  display: inline-block;
  width: 100%;
}