/**
===========================
Workshop Layout
===========================
*/
section.bench {
  min-height: 100%;
}

/**
===========================
Sections
===========================
*/
section {
  font-size: smaller;
}

.section-head > h5:first-of-type{
  flex: 1;
  display: inline-block;
}

.section-head {
  display: flex;
  align-items: center;
}

.section-head > button {
  margin-left: auto;
  margin-top: unset;
}

section.construction-zone,
section > div.shop-drop-zone {
  min-height: 5vw;
}


/**
===========================
List Items
===========================
*/
div.pobject,
div.felement,
div.velement {
  display: inline-block;
  padding: 0.5em;
}

/**
===========================
pobject
===========================
*/
div.pobject input:first-of-type {
  display: block;
}

div.vis-networkitem {
  font-size: smaller;
}

/**
===========================
Play Area
===========================
*/
.construction-zone {
  display: flex;
}

.construction-zone > div:first-child {
  flex: 1
}

.construction-zone > aside {
  margin-left: auto;
}

/**
===========================
Trash Zone
===========================
*/
aside.trash-zone {
  font-size: large;
  width: 2em;
  min-height: 100%;
}

aside.trash-zone > div:first-child {
  min-width: 100%;
  min-height: 100%;
}

aside.trash-zone.active,
aside.trash-zone:hover {
  background-color: rgba(166, 43, 43, 0.5);
}